<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247065335725-kteb2g58395hi3s9i4u4rmject5p0f8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247065335725-kteb2g58395hi3s9i4u4rmject5p0f8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCOq7C5Q4jFmsSo0Pe6W2ngjUXepCMUP9s</string>
	<key>GCM_SENDER_ID</key>
	<string>247065335725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maintain</string>
	<key>PROJECT_ID</key>
	<string>reporting-mad-app</string>
	<key>STORAGE_BUCKET</key>
	<string>reporting-mad-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247065335725:ios:1c6b321d2325429406f324</string>
</dict>
</plist>